/*general*/
:root {
    --orange: #FF6900;
    --dark-grey: #1A1A1A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*utility*/

.d-flex {
    display: flex;
}

.p-fixed {
    position: fixed;
    top: 0px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.line-through {
    text-decoration: line-through;
}

.text-red {
    color: red;
}

/*header*/
header {
    background-color: var(--orange);
    color: white;
    width: 100%;
    z-index: 1000;
    display: flex;
}

/*main*/
main {
    max-width: 1200px;
    margin: 100px auto;
}

.row {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.col {
    position: relative;
    width: calc((100% - 10px) / 3);
}

.col img {
    width:100%;
    display: block;
}

.badge {
    position: absolute;
    bottom: 85px;
    left: 0;
    padding: 5px;
    color: white;
    font-weight: bolder;
}

.badge2 {
    position: absolute;
    bottom: 85px;
    left: 50px;
    padding: 5px;
    color: white;
    font-weight: bolder;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.heart {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: white;
    padding: 10px;
    font-size: 1.5em;
}

/*footer*/
footer {
    background-color: var(--dark-grey);
    color: white;
}