/*general*/
:root {
    --orange: #FF6900;
    --dark-grey: #1A1A1A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/*utility*/

.d-flex {
    display: flex;
}

.p-fixed {
    position: fixed;
    top: 0px;
}

/*header*/
header {
    background-color: var(--orange);
    color: white;
    width: 100%;
    z-index: 1000;
    display: flex;
}

/*main*/
main {
    max-width: 1200px;
    margin: 100px auto;

}

.row {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.col {
    position: relative;
    width: calc((100% - 10px) / 3);
}

.col img {
    width:100%;
    display: block;
}

/*footer*/
footer {
    background-color: var(--dark-grey);
    color: white;
}